.feature {
	padding: 1.5rem;
	background-color: #111;
	aspect-ratio: 1;
	border: dashed 2px #252525;
	border-radius: 0.75rem;

	h1 {
		color: #fff;
		font-size: 0.85rem;
		text-transform: uppercase;
	}
}
