.searchForm {
	width: min(100%, 700px);
	margin-inline: auto;
	margin-top: 3rem;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	input {
		flex-grow: 1;
		width: 100%;

		outline: none;
		color: #fff;
		border: solid 1.5px #237003;
		background-color: #000;
		border-radius: 10px 0 0 10px;
		font-size: 1rem;
		padding: 0.35rem 0.75rem;
		box-sizing: content-box;
		height: 35px;
	}

	.buttonContainer {
		flex-grow: 0;
		position: relative;

		.playerImgPatch {
			background-color: #000;
			width: 100%;
			//if something's behind this container the corner does not match the right top border radius
			//the line below fix that
			border-radius: 0 10px 0 0;
			//this value must cover the necessary area to hide steve img
			height: 130px;
			position: absolute;
			top: 0;
			z-index: -1;
		}

		.steveImg {
			position: absolute;
			width: 45%;
			height: auto;
			left: -1rem;
			top: 0px;
			z-index: -2;
			transition: transform 300ms;
			transition-timing-function: cubic-bezier(0, 0.1, 0.26, 1.5);
		}
	}

	button {
		appearance: none;
		background-color: #237003;
		outline: none;
		border: 1.5px solid #237003;
		border-radius: 0 10px 10px 0;
		cursor: pointer;
		color: #bdeca8;
		text-transform: uppercase;
		transition: background-color 200ms, color 200ms, box-shadow 200ms,
			border 200ms;
		font-size: 1rem;
		padding: 0.35rem 1rem;

		display: flex;
		flex-flow: row;

		align-items: center;
		justify-content: flex-start;

		div {
			width: 35px;
			height: 35px;
			margin-left: 0.5rem;
		}

		.compass {
			width: 35px;
			height: 35px;
			transition: transform 200ms;
			transition-timing-function: ease;
		}

		&:hover {
			background-color: #194d03;
			color: #fff;
			box-shadow: 0px 0px 16px rgba($color: #6ed83d, $alpha: 0.2);
		}

		&:hover > div > .compass {
			transform: scale(1.15) rotate(6deg);
		}

		&:hover + .steveImg {
			transform: translateY(-70%) rotate(-10deg);
		}

		&:focus {
			border: dashed 1.5px #6ed83d;
		}
	}
}
