$card-border-radius: 0.75rem;

.playerContainer {
	color: #fff;
	border: solid 2px #0d2901;
	padding: 1.5rem;
	border-radius: $card-border-radius;
	margin-top: 3rem;
	width: min(100%, 700px);

	h1 {
		font-size: 3rem;
		line-height: 1;
		margin-bottom: 0.75rem;
	}

	p {
		font-size: 0.75rem;
	}

	.info {
		display: flex;
		align-items: baseline;
	}

	.tag {
		font-size: 0.65rem;
		font-weight: 900;
		color: #26630c;
		text-transform: uppercase;
		margin-right: 0.5rem;
	}

	h2 {
		margin-top: 0.75rem;
		font-size: 1.25rem;
	}

	.imgContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		height: calc(150px + 2rem);
		padding: 1rem;
		padding-left: 0;
		gap: 1rem;

		.skinContainer {
			position: relative;
			height: 150px;
			width: 150px;

			img {
				object-fit: contain;
			}
		}
	}
}
