// body images come in 2 different sizes
// depends on user selection,
// minecraft java provides 2 options:
// =============================================================
// wide -> 1/2 | user examples: [KorsakovUlianov, bloodunicorn]
// and
// slim -> 24/55 | user examples: [adrigatin, melatonina]
// =============================================================

//intrinsic aspect ratio
$player-body-aspect-ratio-slim: 24/55;
$player-body-aspect-ratio-wide: 1/2;

//misc
$card-border-radius: 0.75rem;
$card-spacing: 2rem;

.playerContainer {
	background-color: #091d01;
	border: dashed 2px #237003;
	overflow: hidden;

	color: #fff;
	border-radius: $card-border-radius;
	margin-top: 2rem;
	width: min(100%, 700px);

	display: flex;

	.fullBodyContainer {
		box-sizing: content-box;
		width: 180px;
		aspect-ratio: 1/2;

		padding: $card-spacing;

		background-color: #071601;
	}

	.infoContainer {
		flex-grow: 1;
		padding: $card-spacing;

		.nameLayout {
			display: flex;

			.headCubeContainer {
				position: relative;
				height: 70px;
				aspect-ratio: 1;
				margin-right: 0.5rem;

				img {
					object-fit: contain;
					transform: translateY(-12px);
				}
			}

			.usernameContainer {
				h1 {
					font-size: 2rem;
					line-height: 1;
					margin-bottom: 0.75rem;
					color: #daf2d0;
				}

				p {
					font-size: 0.85rem;
					font-weight: 900;
					text-transform: uppercase;
					line-height: 1;
					color: #1b5702;
				}
			}
		}
	}
}
