// body images come in 2 different sizes
// depends on user selection,
// minecraft java provides 2 options:
// =============================================================
// wide -> 1/2 | user examples: [KorsakovUlianov, bloodunicorn]
// and
// slim -> 24/55 | user examples: [adrigatin, melatonina]
// =============================================================

//intrinsic aspect ratio
$player-body-aspect-ratio-slim: 24/55;
$player-body-aspect-ratio-wide: 1/2;

//misc
$card-border-radius: 0.75rem;
$card-spacing: 2rem;

.playerContainer {
	background-color: #091d01;
	border: dashed 2px #237003;
	overflow: hidden;

	color: #fff;
	border-radius: $card-border-radius;
	margin-top: 2rem;
	width: min(100%, 700px);

	display: flex;

	.fullBodyContainer {
		box-sizing: content-box;
		width: 150px;
		aspect-ratio: 1/2;

		padding: $card-spacing;

		background-color: #061101;

		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;

		img {
			position: static !important;
			object-fit: contain;
		}
	}

	.infoContainer {
		flex-grow: 1;
		padding: $card-spacing;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: space-between;

		.nameLayout {
			display: flex;

			.headCubeContainer {
				position: relative;
				height: 70px;
				aspect-ratio: 1;
				margin-right: 0.5rem;

				img {
					object-fit: contain;
					transform: translateY(-12px);
				}
			}

			.usernameContainer {
				p {
					font-size: 0.85rem;
					font-weight: 900;
					text-transform: uppercase;
					line-height: 1;
					color: #1b5702;
				}

				h1 {
					font-size: 2rem;
					line-height: 1;
					margin-bottom: 0.75rem;
					color: #daf2d0;
				}
			}
		}

		.downloadButton {
			width: 100%;
			text-transform: uppercase;
			margin-top: 2rem;
			background-color: #237003;
			color: #fff;
			outline: none;
			border: none;
			padding-block: 0.5rem;
			border-radius: 0.5rem;
			cursor: pointer;
			transition: background-color 200ms, color 200ms;
			font-weight: 900;

			&:hover {
				background-color: #34a106;
				color: #c5e9b6;
			}
		}
	}
}
