.featuresContainer {
	display: grid;
	$feat-size: 200px;
	grid-template-columns: repeat(auto-fill, minmax($feat-size, 1fr));
	gap: 0.75rem;
}

.title {
	font-size: 3rem;
	color: #fff;
	line-height: 1;
	padding-top: 5rem;
}

.text {
	color: #fff;
	line-height: 1;
	font-weight: 300;
	margin: 0.25rem 0 2rem 0;
}

.mainContainer {
	width: 70%;
	margin-inline: auto;

	hr {
		margin-block: 2rem;

		border: 0;
		height: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

	h2 {
		color: #fff;
	}
}
