.upTitle {
	font-size: 1rem;
	font-weight: 900;
	color: var(--light-green-brand);
}

.title {
	font-size: 3rem;
	font-size: clamp(1.5rem, 5vw, 5rem);

	color: var(--green-brand);
	line-height: 1;
}

.text {
	width: min(100%, 500px);
	margin-top: 1rem;
	color: var(--light-green-brand);
	text-align: center;
}

.mainContainer {
	width: 80%;
	margin-inline: auto;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;

	.titlesContainer {
		min-height: calc(100vh - 4.5rem);

		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
	}

	hr {
		margin-block: 2rem;

		border: 0;
		height: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}

	h2 {
		color: #fff;
	}
}

.features {
	min-height: 100vh;

	display: flex;
	align-items: center;
}

.homeCardsContainer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5rem;
}
