.title {
	color: #fff;
	font-weight: 900;
	line-height: 1;
}

.playerSearchDescription {
	color: #fff;
	margin-bottom: 1.5rem;
	margin-top: 0.5rem;
}

.mainContainer {
	// width: min(100%, 1100px);
	width: 70%;
	margin-inline: auto;
	padding-top: 80px;

	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

.searchForm {
	// background-color: crimson;
	// padding: 1rem;
	width: 80%;
	margin-inline: auto;

	display: flex;

	input {
		flex-grow: 1;
		outline: none;
		color: #fff;
		border: solid 1px #237003;
		background-color: #000;
		border-radius: 10px 0 0 10px;
		padding: 0.75rem;
	}

	button {
		appearance: none;
		background-color: #237003;
		outline: none;
		border: none;
		border-radius: 0 10px 10px 0;
		padding: 0.5rem 1rem;
		cursor: pointer;
		color: #bdeca8;
		text-transform: uppercase;
		transition: background-color 200ms, color 200ms, box-shadow 200ms;

		div {
			display: flex;
			align-items: center;
		}

		img {
			width: 35px;
			height: 35px;
			margin-left: 0.75rem;

			transition: transform 200ms;
			transition-timing-function: cubic-bezier(0.73, -0.58, 0.26, 1.5);
			transition-timing-function: ease;
		}

		&:hover {
			background-color: #194d03;
			color: #fff;
			box-shadow: 0px 0px 16px rgba($color: #6ed83d, $alpha: 0.2);
		}

		&:hover > div > img {
			transform: scale(1.15) rotate(6deg);
		}
	}
}

@media screen and (max-width: 1000px) {
	.mainContainer {
		width: 80%;
	}
}

.playerInfoContainer {
	display: flex;
	align-items: center;
	background-color: #111;
	border-radius: 0.5rem;
	width: fit-content;
	padding: 1rem;

	margin-top: 3rem;

	img {
		aspect-ratio: 1;
		width: 100%;
	}

	div {
		margin-left: 1rem;
		color: #fff;
	}

	h1 {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 750px) {
	.mainContainer {
		width: 90%;
	}

	.playerInfoContainer {
		flex-flow: column;

		div {
			margin-left: 0;
			margin-top: 2rem;
		}
	}
}

@media screen and (max-width: 500px) {
	.playerInfoContainer {
		width: 90%;
		margin-inline: auto;

		h1 {
			font-size: 1rem;
		}
	}
}

.noPlayerLabel {
	color: #fff;
	margin-top: 2rem;
	width: 40%;
	text-align: center;

	background-color: crimson;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: #111;
}
